.Chat {
    text-align: center;
    background-color: #282c34;
    height: 100vh;
    .Chat-Container {
      width: 80%;
      margin: auto;
      .chat-box {
        width: 100%;
        .receive-messages {
          width: 100%;
          textarea {
            width: 100%;
            height: 300px;
            max-height: 300px;
            min-height: 300px;
          }
        }
        .send-message {
          width: 100%;
            input {
              width: 90%;
              height: 30px;
              max-height: 30px;
              min-height: 30px;
              float: left;
            }
              button {
                
                width: 10%;
                background-color: blue;
                color: white;
                padding: 7px;
                font-size: 16px;
                position: absolute;
            }
          
        }
      }
    }
  }
  